.mainDiv{
    background-color: black;
    padding: 2rem;
    margin:0.5rem;
    display: flex;
    justify-content: center;
}

.link{
    color:beige;
    font-size: large;
}

.secDiv{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}