<!-- <div style="background-color:white;">
    <h2>Categories</h2>
    <ul>
      <li *ngFor="let category of categories let i = index ">
        ID: {{ i+1 }} - Name: {{ category.getName() }}
        <button (click)="updateCategory(category, category.getId())">Update</button>
        <button (click)="deleteCategory(category.getId())">Delete</button>
      </li>
    </ul>
  
    <h3>Add New Category</h3>
    <div>
      <label>Name:</label>
      <input type="text" [(ngModel)]="newCategoryData.name">
    </div>
    <div>
      <label>Created By:</label>
      <input type="text" [(ngModel)]="newCategoryData.createdBy">
    </div>
    <button (click)="addCategory()">Add Category</button>
  </div> -->

  <div>
    <div class="mainC"> Contact Us</div>
    <div class="secondDiv">Contact us , to know more , click below for more information</div>
    <div class="btnClass">
        <button>Click here</button>
    </div>
</div>
  
