<!-- 
<div class="header">
  <h1>To Do List</h1>
</div>

<hr>

<div class="formspace">
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="form-group">
      <label for="task" id="labelfor">Your Task here!</label><br>
      <div class="inputHandle">
      <input type="text" placeholder="Enter task" class="form-holder" id="task" [(ngModel)]="task" name="task">
    </div>
    </div>
    <br>
    <div class="btnS">
      <button [disabled]="!task" type="submit" class="btn-submit">Submit</button>
    </div>
  </form>
</div>

<hr>

<table class="table">
  <thead class="tableH">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Completed</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody class="TableB">
    <tr *ngFor="let t of taskArray; let i = index;" [class.checked]="t.iscompleted" [ngClass]="{ 'row-white': i % 2 === 0, 'row-pink': i % 2 !== 0 }">
      <td>{{ i + 1 }}</td>
      <td>
        <ng-container *ngIf="!t.isEditing; else editField">
          {{ t.taskName }}
        </ng-container>
        <ng-template #editField>
          <input [(ngModel)]="t.taskName" placeholder="Edit task name" class="edit-input" />
          <button (click)="submitChanges(i)" class="save-btn">Save</button>
        </ng-template>
      </td>
      <td><input (change)="onCheck(i)" type="checkbox" class="check-com" [checked]="t.iscompleted"></td>
      <td><button class="btn-edit" (click)="on_edit(i)">Edit</button></td>
      <td><button class="btn-delete" (click)="on_delete(i)">Delete</button></td>
    </tr>
  </tbody>
</table> -->
<div>
  <app-navbar></app-navbar>
</div>

<div class="secondDiv">
  <!-- <app-home></app-home> -->
   <!-- <app-category2></app-category2> -->
    <!-- <div>
    <app-category></app-category>
  </div>
  <div>
    <app-product></app-product>
  </div> -->
  <!-- <div>
    <app-category2></app-category2>
  </div> -->
  <!-- <div>
    <app-home></app-home>
  </div> -->
</div>

<!-- <router-outlet></router-outlet> -->
