<!-- <div>
    <h2>Products</h2>
    <ul>
      <li *ngFor="let product of products">
        ID: {{ product.getId() }} - Name: {{ product.getName() }}
        <button (click)="updateProduct(product)">Update</button>
        <button (click)="deleteProduct(product.getId())">Delete</button>
      </li>
    </ul>
  
    <h3>Add New Product</h3>
    <div>
      <label>Name:</label>
      <input type="text" [(ngModel)]="newProductData.name">
    </div>
    <div>
      <label>Created By:</label>
      <input type="text" [(ngModel)]="newProductData.createdBy">
    </div>
    <button (click)="addProduct()">Add Product</button>
  </div> -->
  
  <div>
    <div class="mainC"> About Us Page</div>
    <div class="secondDiv">Description of about us page, Click below to know about us more</div>
    <div class="btnClass">
        <button>Click here</button>
    </div>
</div>
