<div class="mainDiv">
    <h1 *appNot="true">True</h1>
    <h1 *appNot="false">False</h1>
    <h3 class="heading">Add New Task</h3>
    <div class="secDiv">
        <form [formGroup]="taskForm" (ngSubmit)="Addtask()">
            <table>
                <thead>
                    <tr>
                        <th>Task:</th>
                        <th>Created By:</th>
                        <th>Gender</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" formControlName="task"></td>
                        <td><input type="text" formControlName="createdBy"></td>
                        <select formControlName="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <td><input type="date" formControlName="createdAt"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button type="submit">Add Task</button>
            </div>
        </form>

        <h3>Task List</h3>
        <div>
            <button (click)="Selectall()">Select All</button>
            <button (click)="Cancelselected()">Cancel</button>
            <button (click)="Markcompleted()">Mark as Completed</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody appAttrDirective>
                <tr *ngFor="let task of tasks; let i = index">
                    <td><input type="checkbox" (click)="Checked(task.id)" [(ngModel)]="task.checked"></td>
                    <td>{{ task.id }}</td>
                   
                    <td *ngIf="!task.isEditing">{{ task.task }}</td>
                    <td *ngIf="task.isEditing"><input [(ngModel)]="task.task"></td>
                    <td>{{ task.createdBy }}</td>
                    <td>{{task.createdAt | date}}</td>
                    <td>{{task.gender}}</td>

                    <td>
                        <button *ngIf="task.isEditing" (click)="Save(task.id)">Save</button>
                        <button *ngIf="task.isEditing" (click)="Canceledit(task.id)">Cancel</button>
                        <button *ngIf="!task.isEditing" (click)="Edittask(task.id)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
